body {
  background-color: whitesmoke;
  color: black;
  font-size: large;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
}

.content-paragraph {
  margin-left: 20%;
  margin-right: 20%;
}

center {
  padding-bottom: 5rem;
}

.all-content {
  margin-left: 20%;
  margin-right: 20%;
}

.main-container {
  justify-content: center;
}

.home-content-container {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-home-container {
  padding-bottom: 8rem;
}

.headshot-image-container {
  display: flex;
  justify-content: center;
}

.bio-container {
  display: flex;
}

.home-title {
  display: flex;
  flex-direction: column;
}

.resume {
  display: flex;
  justify-content: center;
  height: 800px;
  overflow: hidden !important;
}

.nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: rgb(135, 217, 135);
  color: white;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: rgb(168, 166, 166);
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.main-education-container {
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 6rem;
}

li {
  display: inline-flex;
  padding-inline: 0.5em;
}

li::after {
  content: "|";
  padding-left: 1em;
}

li:last-of-type::after {
  content: none;
}

/* unvisited link */
a:link {
  color: blue;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(60, 52, 184);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: blueviolet;
}

/* selected link */
a:active {
  color: blueviolet;
}

#resume {
  font-size: larger;
}
